$font-header: 'Roboto Condensed', sans-serif;

$color-yellow: #fef0d5;
$color-blue: #235c55;
$color-red: #d81e5d;
$color-grey: #dbdbdb;
$color-grey-dark: #525053;

$calendar-gap: 50px;

$width-small: 550px;